<label>Name</label>
<%# name is how our server gets the data from the object. When the form sends the data from the form, the server will be able to access the input as body.name %> 
<input type="text" name="name" value="<%= author.name %>">